@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding: 0; 
    height: 200vh;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*Landing page*/
.landing,.images-section{
    flex: 2;
}
.landing{
    width: 100%;
    background-color: #1F2937;
    display: flex;
   
}
.landing-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0rem auto;
}
.navbar{
    display: flex;
    margin: 2rem 0rem;
}
.navbar-rightside,.navbar-leftside{
    flex: 1;
}
.navbar-leftside{
    display: flex;
    align-items:sign-up bold;
}
.navbar-rightside{
    display: flex;
    justify-content: flex-end;
}
.navbar-navigation{
    list-style: none;
    display: flex;
    gap: 10px;
}
.navbar-navigation > .link a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}
.content{
    height:100% ;
    display: flex;
    gap: 100px;
    margin: 5rem 0rem;
}
.content-leftside{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.content-rightside{
    flex: 1;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}
.content-leftside h1{
    color:#f9faf8;
    font-size: 48px;
    font-weight: extra-bold;
    width: 70%;
    margin: 0;
}
.content-leftside p{
    font-size: 18px;
    color:#e5e7eb;
    width: 50%;
    flex: 7;
}
.btn{
    padding: 0.5rem 2.5rem;
    border: 0;
    outline: 0;
    border-radius: 10px;
}
.sign-up-noborder{
    background: #3882f6;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    align-self: flex-start;
    flex:1;   
}

/*Images*/
.images-section{
    margin: 5rem 0rem;
}
.images-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.images-container h3{
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    margin: 2rem 0;
}
.img-holder{
    display: flex;
    gap: 20px;
    flex: 2 1 200px;
    margin:0 15rem;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
}
.img{
  
    flex:1;
}
.img img{
    border: 4px solid #3882F6;;
    border-radius: 10px;
    min-width: 300px;
    max-width: 300px;
    height: 300px;
    background-size: cover;
}
.card p{
    flex: 1;
    text-align: center;
}

/*Quote styles*/
.quote{
    flex:2.5;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 15rem;
}
.qoute-text{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    line-height: 1.5em;
    letter-spacing: 1px;
    text-align: center;
   
}
.author{
    align-self: flex-end;
    font-size: 24px;
    font-weight: 600;

}

.sign-up-section{
    flex: 2.5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-up-container{
    flex: 0.6;
    background-color: #3882F6;
    padding: 4rem 8rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sign-up{
    padding: 0.5rem 1.5rem;
    border:4px #fff solid;
    background: transparent;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
.sign-text p{
    color: #fff;
    font-size: 18px;
    margin: 0;
}
.sign-text .lead{
    font-size: 24px;
    font-weight: bold;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    flex:1;
    color: #fff;
}
